.item-gallery {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--background-color);
  padding: 0 16px;
  gap: 80px 12px;
}

.item-card {
  display: flex;
  flex-direction: column;
  margin: -60px 0 0 0;
  min-height: 300px;
  max-width: 288px;
  transition: transform .5s;
  z-index: 1;
  cursor: pointer;
}

.item-card:hover {
    border: 1px solid rgba(220, 86, 197, 0.3);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background: rgba(220, 86, 197, 0.3);
  transition-duration: 0.5s;
  transition-property: background;
}

.image-wrapper::after {
  content: '';
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  transform: translate(-202px, -19px);
//   z-index: 0;
  width: 227px;
  height: 220px;
}

.image-wrapper img {
  z-index: 1;
  position: relative;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 220px;
  object-fit: cover;
}

.item-info {
  display: flex;
  flex-direction: column;
  max-width: 267px;
  gap: 8px;
  padding: 8px 0;
  text-align: center;
}

.item-title {
  display: flex;
  flex-wrap: wrap;
  color: var(--main-text-color);
  font-weight: bold;
}

.item-date,
.item-location {
  color: var(--secondary-text-color);
}

.item-location span {
  font-weight: 600;
  font-size: 14px;
}

.item-location svg {
  display: flex;
}

@media screen and (max-width: 800px) {
  .item-gallery {
    padding: 0 32px;
    row-gap: 75px;
    margin-top: -25px;
  }

  .image-wrapper img {
    width: 141px;
    height: 120px;
  }

  .image-wrapper::after {
    transform: translate(-109px, -10px);
    width: 120px;
    height: 112px;
  }

  .item-card {
    max-width: 152px;
    min-height: 223px;
  }

  .item-info {
    gap: 4px;
  }

  .item-title {
    font-size: 14px;
  }

  .item-date,
  .item-location span {
    font-size: 12px;
  }

  .item-location span img {
    height: 10px;
  }
}

@media screen and (max-width: 480px) {
  .item-gallery {
    padding: 0 20px;
    row-gap: 75px;
    margin-top: 0;
  }

  .image-wrapper img {
    width: 120px;
  }

  .image-wrapper::after {
    width: 102px;
    height: 95px;
  }

  .item-card {
    max-width: 120px;
    min-height: 223px;
  }
}
