:root {
  --font-family: 'Montserrat', sans-serif;
  --main-text-color: #dc56c5;
  --secondary-text-color: #fff;
  --third-text-color: #939393;
  --stroke-color: #212121;
  --background-color: #0e0e0e;
  --modal-background: #FFF2FD;
  --modal-main-color: #4C00FE;
}

* {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 16px;
}

*,
.section-holder {
  max-width: 80rem;
  margin: 0 auto;
}

.quartercircle {
  width: 229px;
  height: 193px;
  background: linear-gradient(231deg,
      rgba(196, 196, 196, 0.1),
      rgba(196, 196, 196, 0.1));
  backdrop-filter: blur(10px);
  border-bottom-right-radius: 229px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /* Asigură-te că acest element este peste fundal */
}

.logo img {
  position: absolute;
  top: 41px;
  left: 16px;
  z-index: 2;
  /* Asigură-te că logo-ul este deasupra altor elemente */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 80rem;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(rgba(11, 11, 11, 0.5),
      rgba(11, 11, 11, 0.5)),
    url(../images/pic.webp);
  height: 446px;
  position: relative;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .container {
    background-image: linear-gradient(rgba(11, 11, 11, 0.5),
        rgba(11, 11, 11, 0.5)),
      url(../images/pic@2x.webp);
  }
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--main-text-color);
  font-weight: 900;
  font-size: 50px;
  max-width: 608px;
  margin: 0;
  text-align: center;
  z-index: 2;
  /* Asigură-te că textul este deasupra fundalului */
  padding-top: 40px;
}

@media screen and (max-width: 800px) {
  .container {
    background-image: linear-gradient(rgba(11, 11, 11, 0.5),
        rgba(11, 11, 11, 0.5)),
      url(../images/pic-tablet.webp);
    height: 364px;
  }

  @media (max-device-pixel-ratio: 2),
  (-webkit-max-device-pixel-ratio: 2),
  (max-resolution: 192dpi),
  (max-resolution: 2dppx) {
    .container {
      background-image: linear-gradient(rgba(11, 11, 11, 0.5),
          rgba(11, 11, 11, 0.5)),
        url(../images/pic-tablet@2x.webp);
    }
  }

  .page-title {
    font-size: 30px;
    max-width: 400px;
  }

  .quartercircle {
    width: 167px;
    height: 135px;
  }

  .logo img {
    width: 80px;
    top: 23px;
    left: 26px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    background-image: linear-gradient(rgba(11, 11, 11, 0.5),
        rgba(11, 11, 11, 0.5)),
      url(../images/pic-mobile.webp);
    height: 320px;
    padding: 20px;
  }

  @media (max-device-pixel-ratio: 2),
  (-webkit-max-device-pixel-ratio: 2),
  (max-resolution: 192dpi),
  (max-resolution: 2dppx) {
    .container {
      background-image: linear-gradient(rgba(11, 11, 11, 0.5),
          rgba(11, 11, 11, 0.5)),
        url(../images/pic-mobile@2x.webp);
    }
  }

  .page-title {
    font-size: 18px;
    /* Diminuează fontul pentru titlu */
    max-width: 275px;
    padding-top: 20px;
    /* Ajustează padding-ul pentru a centra textul */
  }

  .quartercircle {
    width: 90px;
    height: 75px;
    top: 0;
    left: 0;
    border-bottom-right-radius: 90px;
  }

  .logo img {
    width: 50px;
    /* Ajustează dimensiunea logo-ului */
    top: 10px;
    left: 10px;
  }
}