/* Style for the new ticket info section */
.ticket-info {
  text-align: center;
  /* Center-align the content */
  margin-top: 40px;
  /* Space from the top of the modal */
}

.barcode {
  margin-bottom: 10px;
  /* Space between barcode and text */
}

.barcode img {
  width: 100px;
  /* Adjust width as needed */
  height: auto;
  /* Maintain aspect ratio */
}

.ticket-text {
  font-size: 16px;
  /* Adjust size as needed */
  color: var(--main-text-color);
  /* Use the main text color */
  margin-bottom: 20px;
  /* Space between text and button */
}

.buy-tickets {
  padding: 12px 20px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background-color: var(--modal-main-color);
  border-radius: 5px;
  font-weight: 500;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.5s;
}

.buy-tickets:hover {
  background-color: var(--main-text-color);
}

@media screen and (max-width: 800px) {
  .ticket-info {
    margin-top: 20px;
    /* Adjust margin for smaller screens */
  }

  .barcode img {
    width: 80px;
    /* Adjust width for smaller screens */
  }

  .ticket-text {
    font-size: 14px;
    /* Adjust font size for smaller screens */
  }

  .buy-tickets {
    padding: 10px 15px;
    /* Adjust padding for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .ticket-info {
    margin-top: 10px;
    /* Further adjust margin for mobile screens */
  }

  .barcode img {
    width: 60px;
    /* Adjust width for mobile screens */
  }

  .ticket-text {
    font-size: 12px;
    /* Adjust font size for mobile screens */
  }

  .buy-tickets {
    padding: 8px 12px;
    /* Adjust padding for mobile screens */
  }
}